@mixin font(
  $size: 1.4rem,
  $weight: normal,
  $height: normal,
  $color: #000,
  $letter-spacing: initial
) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
  letter-spacing: $letter-spacing;
  color: $color;
  @content;
}
