//break-points
$palm: 320px;
$hands: 600px;
$hands_wide: 850px;
$lap: 1200px;
$desk: 1600px;
$desk_large: 1920px;

//stack-break-points
$palm_stack: $palm + 1px;
$hands_stack: $hands + 1px;
$hands_wide_stack: $hands_wide + 1px;
$lap_stack: $lap + 1px;
$desk_stack: $desk + 1px;

//custom-break-points

//media-queries
@mixin mq_palm() {
  @media screen and (max-width: $palm) {
    @content;
  }
}

@mixin mq_hands() {
  @media screen and (min-width: $palm_stack) and (max-width: $hands) {
    @content;
  }
}

@mixin mq_hands_wide() {
  @media screen and (min-width: $hands_stack) and (max-width: $hands_wide) {
    @content;
  }
}

@mixin mq_lap() {
  @media screen and (min-width: $hands_wide_stack) and (max-width: $lap) {
    @content;
  }
}

@mixin mq_desk() {
  @media screen and (min-width: $lap_stack) and (max-width: $desk) {
    @content;
  }
}

@mixin mq_desk_large() {
  @media screen and (min-width: $desk_stack) {
    @content;
  }
}

@mixin from($min_width) {
  @media screen and (min-width: $min_width) {
    @content;
  }
}

@mixin to($max_width) {
  @media screen and (max-width: $max_width) {
    @content;
  }
}

@mixin from-to($min_width, $max_width) {
  @media screen and (min-width: $min_width) and (max-width: $max_width) {
    @content;
  }
}

@mixin hover {
  @media not all and (hover: none) and (pointer: coarse) {
    &:hover {
      @content;
    }
  }

  @media all and (hover: none) and (pointer: coarse) {
    &:active {
      @content;
    }
  }
}

@mixin animation($selector) {
  @media (prefers-reduced-motion: reduce) {
    #{$sector} {
      animation: none;
      transition: none;
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    #{$sector} {
      @content;
    }
  }
}
